#brasil, #title, #bottom, #imagens, .modalImg>div {
	background:rgb(0, 157, 118);
}

#title>p {
	color:rgb(150, 232, 211);
}

#imagens img, .modalImg img {
	border-color:rgb(150, 232, 211);
}

#center, .modalImg p {
	color:rgb(0, 94, 70);
}

#center {
	background:rgb(150, 232, 211);
	background:rgba(150, 232, 211, 0.85);
}