/*CORES DOS ELEMENTOS*/
#brasil, #title, #footer, .modalImg>div, #album{
	background:rgb(0, 157, 118);
}

#title>p {
	color:rgb(150, 232, 211);
}

#album img, .modalImg img {
	border-color:rgb(150, 232, 211);
}

#center, .modalImg p {
	color:rgb(0, 94, 70);
}

#center {
	background:rgb(150, 232, 211);
	background:rgba(150, 232, 211, 0.90);
}