#dicas, #title, #bottom, .modalImg>div, #imagens {
	background:rgb(92, 0, 234);
}

#title>p {
	color:rgb(160, 130, 255);
}

#imagens img, .modalImg img {
	border-color:rgb(160, 130, 260);
}

#center, .modalImg p {
	color:rgb(66, 0, 158);
}

#center {
	background:rgb(160, 130, 255);
	background:rgba(160, 130, 255, 0.90);
}

#center h2 {
	font-size:105%;
	margin-bottom:-15px;
}

#center h1+div {
	margin-left:50px;
}

#center .attn {
	text-indent:0px !important;
}

#center p+p, #center .attn {
	margin-top:-15px;
}

#center .attn>span {
	text-decoration:underline;
	font-weight:bold;
}