/*600px monitor height*/
body {
	font-size:medium;
	background-color:rgb(244, 248, 251);
	background-image:url(../imagens/back_2.jpg);
	background-size:100%;
	background-repeat:no-repeat;
	font-family:"Century Gothic", "Lucida Console";
}

#main {
	position:relative;
	height:200px;
	width:75%;
	min-width:700px;
	margin:0 auto;
}

#top {
	height:170px;
	text-align:center;
}

#top>ul {
	padding:0;
}

#top li {
	text-transform:uppercase;
	font-size:130%;
	display:inline;
	list-style-type:none;
	padding:3px 5px;
	margin:0 10px;
	border-radius:5px;
}

#mundo:hover {
	border-top:2px solid rgb(91, 183, 0);
	border-bottom:2px solid rgb(91, 183, 0);
}

#brasil:hover {
	border-top:2px solid rgb(0, 157, 118);
	border-bottom:2px solid rgb(0, 157, 118);
}

#prev:hover {
	border-top:2px solid rgb(0, 131, 174);
	border-bottom:2px solid rgb(0, 131, 174);
}

#proj:hover {
	border-top:2px solid rgb(0, 102, 153);
	border-bottom:2px solid rgb(0, 102, 153);
}

#dicas:hover {
	border-top:2px solid rgb(92, 0, 234);
	border-bottom:2px solid rgb(92, 0, 234);
}

a:link, a:visited, a:hover, a:active  {
    color:Black;
	text-decoration:none;
}

#title {
	height:50px;
	border-radius:10px 10px 0px 0px;
}

#title>p {
	text-align:center;
	text-transform:uppercase;
	font-size:190%;
	padding-top:10px;
	margin-top:10px;
}

#center {
	height:93%;
	overflow-y:scroll;
	position:relative;
	font-size:110%;
	text-align:justify;
	padding:0 10px;
	border-left:1px dashed Black;
	font-family:none;
}
 
#center p {
	text-indent:30px;
}

#center h1 {
	font-size:120%;
	text-transform:uppercase;
}

#imagens {
	float:right;
	width:20%;
	height:93%;
	border-right:1px dashed Black;
	text-align:center;
	padding:0 5px;
	overflow:auto;
}

#imagens img {
	border:4px ridge Black;
	width:40%;
}

#bottom {
	position:relative;
	height:25px;
	border-radius:0px 0px 10px 10px;
}

.modalImg {
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(0,0,0,0.5);
	z-index:2;
	opacity:0;
	transition:opacity 400ms ease-in;
	pointer-events:none;
}
 
.modalImg:target {
	opacity:1;
	pointer-events:auto;
}
 
.modalImg>div {
	width:40%;
	min-width:350px;
	position:absolute;
    bottom:20px;
    left:20px;
	padding:20px;
	padding-left:15px;
	border-radius:10px;
	box-shadow:1px 1px 30px Black;
}

.modalImg img {
	border:4px ridge Black;
	width:100%;
}

.modalImg p {
	text-transform:uppercase;
	font-weight:bold;
	text-align:center;
	margin-bottom:0px;
}
 
.close {
	background: #606061;
	line-height:25px;
	position:absolute;
	right:-12px;
	text-align:center;
	top:-10px;
	width:24px;
	text-decoration:none;
	font-weight:bold;
	font-family:Verdana;
	border-radius:12px;
	box-shadow:1px 1px 3px Black;
}
 
.close:hover { 
	background:Red; 
}

#top li, #title, #bottom, .modalImg>div {
	border-left:1px dashed Black;
	border-right:1px dashed Black;
}

#title, #center, #bottom {
	box-shadow:-9px 9px 12px Black;
}

@media (min-height : 600px) {
	#main {
		height:350px;
	}
}

@media (min-height : 680px) {
	#main {
		height:400px;
	}
}

@media (min-height : 900px) {
	#main {
		height:650px;
	}
}