#mundo, #title, #bottom {
	background: rgb(91, 183, 0);
}

#title>p {
	color: rgb(187, 224, 151);
}

#center p {
	color: rgb(39, 79, 0);
}

#center {
	background: rgb(187, 224, 151);
	background: rgba(91, 183, 0, 0.4);
}