/*CORES DOS ELEMENTOS*/
#mundo, #title, #footer, .modalImg>div, #album {
	background:rgb(91, 183, 0);
}

#title>p {
	color:rgb(187, 224, 151);
}

#album img, .modalImg img {
	border-color:rgb(187, 224, 151);
}

#center, .modalImg p {
	color:rgb(39, 79, 0);
}

#center {
	background:rgb(187, 224, 151);
	background:rgba(187, 224, 151, 0.90);
}