/*CORES DOS ELEMENTOS*/
#prev, #title, #footer, .modalImg>div, #album {
	background:rgb(0, 131, 174);
}

#title>p {
	color:rgb(149, 210, 231);
}

#album img, .modalImg img {
	border-color:rgb(149, 210, 231);
}

#center, .modalImg p {
	color:rgb(0, 85, 113);
}

#center {
	background:rgb(149, 210, 231);
	background:rgba(149, 210, 231, 0.90);
}