/*CORES DOS ELEMENTOS*/
#proj, #title, #footer, .modalImg>div, #album {
	background:rgb(0, 102, 153);
}

#title>p {
	color:rgb(150, 191, 211);
}

#album img, .modalImg img {
	border-color:rgb(150, 191, 211);
}

#center, .modalImg p {
	color:rgb(0, 66, 98);
}

#center {
	background:rgb(150, 191, 211);
	background:rgba(150, 191, 211, 0.90);
}

/*ELEMETOS DO #CENTER*/
#center li>span {
 text-decoration:underline;
 font-weight:bold;
}