#proj, #title, #bottom, .modalImg>div, #imagens {
	background:rgb(0, 102, 153);
}

#title>p {
	color:rgb(150, 191, 211);
}

#imagens img, .modalImg img {
	border-color:rgb(150, 191, 211);
}

#center, .modalImg p {
	color:rgb(0, 66, 98);
}

#center {
	background:rgb(150, 191, 211);
	background:rgba(150, 191, 211, 0.90);
}

#center .attn>span {
	text-decoration:underline;
	font-weight:bold;
}